<FilesMatch "\.(db|inc|tmpl|h|ihtml|sql|ini|configuration|config|class|bin|spd|theme|module|cfg|cpl|tmp|log|err|inc.php|class.php)$">
order allow,deny
satisfy all
</FilesMatch>

########## Begin - Rewrite rules to block out some common exploits
#                              
# Block out any script trying to set a mosConfig value through the URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a <script> tag in URL
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
#RewriteRule ^(.*)$ index.php [L]
RewriteRule ^([^.]*)/?$ index.php [L]

# 
########## End - Rewrite rules to block out some common exploits

RewriteEngine on

RewriteRule ^([a-z0-9]+)/([a-z0-9]+)/([0-9A-Za-z'\&\%\ \-\.()=:;]+)$          		http://website.com/smiley/index.php?api=$1&key=$2&content=$3 [NC]
RewriteRule ^([a-z0-9]+)/([a-z0-9]+)/([0-9A-Za-z'\&\%\ \-\.()=:;]+)/([a-z0-9]+)$          	http://website..com/smiley/index.php?api=$1&key=$2&content=$3&size=$4 [NC]
RewriteRule ^([a-z0-9]+)/([a-z0-9]+)/([0-9A-Za-z'\&\%\ \-\.()=:;]+)/([a-z0-9]+)/([a-z0-9]+)$          	http://website.com/smiley/index.php?api=$1&key=$2&content=$3&size=$4&color=$5 [NC]